# OpenOCD target for the DE10-Standard / Cyclone V SoC HPS when the JTAG
# chain reports the FPGA TAP before the HPS DAP:
#
#   02D020DD   5CSEBA6...
#   4BA00477   SOCVHPS
#
# Run with:
#   openocd -s /usr/local/share/openocd/scripts \
#     -f interface/altera-usb-blaster2.cfg \
#     -c "usb_blaster firmware /var/local/intelFPGA_lite/23.1std/quartus/linux64/blaster_6810.hex" \
#     -f openocd/de10_standard_hps.cfg

transport select jtag

set _CHIPNAME fpgasoc

# FPGA TAP comes first on this board/cable chain.
jtag newtap $_CHIPNAME.fpga tap -irlen 10 -ircapture 0x01 -irmask 0x03 \
    -expected-id 0x02d020dd

# CoreSight Debug Access Port for the Cyclone V HPS.
jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x01 -irmask 0x0f \
    -expected-id 0x4ba00477

adapter speed 1000

set _TARGETNAME0 $_CHIPNAME.cpu.0
set _TARGETNAME1 $_CHIPNAME.cpu.1

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

target create $_TARGETNAME0 cortex_a -dap $_CHIPNAME.dap \
    -coreid 0 -dbgbase 0x80110000
$_TARGETNAME0 configure -event reset-start { adapter speed 1000 }
$_TARGETNAME0 configure -event reset-assert-post "cycv_dbginit $_TARGETNAME0"

# Core 1 is left disabled here. The pi_monte_carlo core0 image releases CPU1
# itself after copying the embedded core1 image to SDRAM.

proc cycv_dbginit {target} {
    cortex_a dbginit
}

proc hps_baremetal_prepare {} {
    halt

    # Supervisor mode, IRQ/FIQ/abort masked.
    reg cpsr 0x1d3

    # Clear SCTLR.M, SCTLR.C and SCTLR.I before jumping to a physical address.
    set sctlr [arm mrc 15 0 1 0 0]
    set sctlr [expr {$sctlr & ~0x1005}]
    arm mcr 15 0 1 0 0 $sctlr

    # Invalidate unified TLB.
    arm mcr 15 0 8 7 0 0
}
